1, How-to-count-distance-to-the-previous-zero

    For each value, count the difference of the distance from the previous zero (or the start
    of the Series, whichever is closer) and if there are no previous zeros,print the position
     Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
     The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [37]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'x':[7,2,0,3,4,2,5,0,3,4]})

In [31]:
df.x

0    7
1    2
2    0
3    3
4    4
5    2
6    5
7    0
8    3
9    4
Name: x, dtype: int64

In [32]:
X = (df['x'] != 0).cumsum()
X

0    1
1    2
2    2
3    3
4    4
5    5
6    6
7    6
8    7
9    8
Name: x, dtype: int64

In [33]:
Y = X != X.shift()

In [34]:
Y = list(Y.groupby((Y != Y.shift()).cumsum()).cumsum())

In [40]:
np.array(Y,dtype=int)

array([1, 2, 0, 1, 2, 3, 4, 0, 1, 2])

    2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
    Series of random numbers.

In [44]:
dateTime_Index = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')

In [45]:
dateTime_Index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [46]:
s = pd.Series(np.random.rand(len(dateTime_Index)), index=dateTime_Index)

In [47]:
s

2015-01-01    0.726361
2015-01-02    0.032181
2015-01-05    0.081112
2015-01-06    0.507049
2015-01-07    0.196856
2015-01-08    0.484241
2015-01-09    0.542680
2015-01-12    0.550708
2015-01-13    0.181846
2015-01-14    0.435580
2015-01-15    0.650645
2015-01-16    0.036410
2015-01-19    0.014229
2015-01-20    0.576359
2015-01-21    0.150178
2015-01-22    0.477171
2015-01-23    0.997837
2015-01-26    0.715105
2015-01-27    0.004118
2015-01-28    0.692447
2015-01-29    0.440955
2015-01-30    0.774096
2015-02-02    0.475933
2015-02-03    0.788052
2015-02-04    0.962891
2015-02-05    0.074674
2015-02-06    0.410713
2015-02-09    0.613973
2015-02-10    0.483497
2015-02-11    0.713274
                ...
2015-11-20    0.323324
2015-11-23    0.035782
2015-11-24    0.948622
2015-11-25    0.797761
2015-11-26    0.815637
2015-11-27    0.862301
2015-11-30    0.362229
2015-12-01    0.021272
2015-12-02    0.277262
2015-12-03    0.885142
2015-12-04    0.911945
2015-12-07    0.729899
2015-12-08    0.083706
2015-12-09    0.579474
2015-12-10    0.330956
2015-12-11    0.484095
2015-12-14    0.741893
2015-12-15    0.513536
2015-12-16    0.306190
2015-12-17    0.824632
2015-12-18    0.509711
2015-12-21    0.241719
2015-12-22    0.114344
2015-12-23    0.446224
2015-12-24    0.448161
2015-12-25    0.522124
2015-12-28    0.774605
2015-12-29    0.179979
2015-12-30    0.386376
2015-12-31    0.358037
Freq: B, Length: 261, dtype: float64

     3) Find the sum of the values in s for every Wednesday

In [48]:
s[dateTime_Index.weekday == 2].sum()

30.904886713072063

    4) Average For each calendar month

In [87]:
s=s.resample('M').mean()

In [106]:
s

2015-01-31    0.421280
2015-02-28    0.436003
2015-03-31    0.572678
2015-04-30    0.579463
2015-05-31    0.471449
2015-06-30    0.519940
2015-07-31    0.568359
2015-08-31    0.567258
2015-09-30    0.498610
2015-10-31    0.524562
2015-11-30    0.617145
2015-12-31    0.463969
Freq: M, dtype: float64

    5) For each group of four consecutive calendar months in s, find the date on which the
    highest value occurred.

In [117]:
s.groupby(pd.Grouper(freq='4MS')).max()

2015-01-01    0.579463
2015-05-01    0.568359
2015-09-01    0.617145
2016-01-01         NaN
dtype: float64

In [118]:
#finding the date 
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-31
2015-05-31   2015-04-30
2015-09-30   2015-07-31
2016-01-31   2015-11-30
dtype: datetime64[ns]